# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binary
gin-scaffold

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.DS_Store
/templates/portal/cmd/[[.projectName]]/[[.projectName]]
/templates/portal/release
/templates/portal/data
/templates/portal/internal/app/test/data
/templates/portal/internal/app/admin/test/data

# IDE
/.idea
